<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://101.200.207.29/resource/banmi.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.upesn.dzturbocrm</string>
				<key>bundle-version</key>
				<string>2.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>banmi</string>
				<key>title</key>
				<string>banmi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
